:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@font-face {
  font-family: 'General Gothic';
  src: url('src/assets/fonts/general_gothic/GeneralGothic-Bold.woff2') format('woff2'),
      url('src/assets/fonts/general_gothic/GeneralGothic-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Gothic';
  src: url('src/assets/fonts/general_gothic/GeneralGothic-ExtraBold.woff2') format('woff2'),
      url('src/assets/fonts/general_gothic/GeneralGothic-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Gothic';
  src: url('src/assets/fonts/general_gothic/GeneralGothic-Regular.woff2') format('woff2'),
      url('src/assets/fonts/general_gothic/GeneralGothic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Gothic';
  src: url('src/assets/fonts/general_gothic/GeneralGothic-Medium.woff2') format('woff2'),
      url('src/assets/fonts/general_gothic/GeneralGothic-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Gothic';
  src: url('src/assets/fonts/general_gothic/GeneralGothic-ExtraLight.woff2') format('woff2'),
      url('src/assets/fonts/general_gothic/GeneralGothic-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Gothic';
  src: url('src/assets/fonts/general_gothic/GeneralGothic-Light.woff2') format('woff2'),
      url('src/assets/fonts/general_gothic/GeneralGothic-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Gothic';
  src: url('src/assets/fonts/general_gothic/GeneralGothic-SemiBold.woff2') format('woff2'),
      url('src/assets/fonts/general_gothic/GeneralGothic-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Gothic';
  src: url('src/assets/fonts/general_gothic/GeneralGothic-Black.woff2') format('woff2'),
      url('src/assets/fonts/general_gothic/GeneralGothic-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'zt_talkbold';
  src: url('../assets/fonts/zttalk-bold-webfont.woff2') format('woff2'),
       url('../assets/fonts/zttalk-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'zt_talk_itabold_italic';
  src: url('../assets/fonts/zttalk-bolditalic-webfont.woff2') format('woff2'),
       url('../assets/fonts/zttalk-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'zt_talk_itaitalic';
  src: url('src/assets/fonts/zttalk-italic-webfont.woff2') format('woff2'),
       url('src/assets/fonts/zttalk-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'zt_talkmedium_italic';
  src: url('src/assets/fonts/zttalk-mediumitalic-webfont.woff2') format('woff2'),
       url('src/assets/fonts/zttalk-mediumitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'zt_talkregular';
  src: url('../assets/fonts/zttalk-regular-webfont.woff2') format('woff2'),
       url('../assets/fonts/zttalk-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'zt_talksemibold_italic';
  src: url('../assets/fonts/zttalk-semibolditalic-webfont.woff2') format('woff2'),
       url('../assets/fonts/zttalk-semibolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
