/* CSS Reset by Josh Comeau: https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/* Colours */
:root {
    --lavender-blush: rgb(245, 230, 232);
    --thistle: rgb(213, 198, 224);
    --rose-quartz: rgb(170, 161, 200);
    --mountbatten-pink: rgb(150, 122, 161);
    --russian-violet: rgb(57, 0, 64);
    --space-cadet: rgb(25, 42, 81);
}

body {
    /* background-color: aquamarine; */
    background-image: linear-gradient(to bottom, var(--lavender-blush), var(--thistle), var(--rose-quartz), var(--mountbatten-pink), var(--space-cadet));
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

/* header styling */
.navbar.header {
    background: rgb(226, 226, 226);
    background: linear-gradient(to bottom, rgba(246, 242, 249, 0.1) 0%, rgba(200, 184, 236, 0.246) 20%, rgba(127, 118, 174, 0.51) 100%); 
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}